NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id-from-dashboard.privy.io

NEXT_PUBLIC_RPC_BASE=
NEXT_PUBLIC_RPC_ARBITRUM=
NEXT_PUBLIC_RPC_BASE_SEPOLIA=
NEXT_PUBLIC_RPC_ARB_SEPOLIA=
NEXT_PUBLIC_RPC_SEPOLIA=
NEXT_PUBLIC_RPC_OP_SEPOLIA=

KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

CRON_SECRET=change-me-to-a-long-random-string
